.sidenav {
    position: fixed;
    /* does not moves */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* adds equal space between the options of navbar */
    z-index: 1;
    /* we want it to be top of every other component */
}

.sidenav_icon {
    width: 10vw;
    margin: 2vw;
}

.sidenav_buttons {
    display: flex;
    flex-direction: column;
}

.sidenav_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 1vw;
    padding: 1.5vh 1vw;
    border-radius: 15px;
    border: 0;
    background: 0;
    color: white;
    width: 14vw;
}

.sidenav_button > span{
    margin-left: 1vw;
    font-size: 2.5vh;
}

.sidenav_button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

.sidenav_more{
    position: fixed;
    bottom: 1vh;
}

.logout_btn{
    /* font-size: ; */
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.211);
    padding: 1.5vh 1vw;
    border: 0;
}

.logout_btn:hover{
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.411);
}
